img{
    width: 200px;
    height: 200px;
}
#button{
    margin-top: 39px;
    width: 100%;
}
.column{
    width: 50%;
}
.loggin{
    width: 40%;
}
.mensajes{
    height: 200px;
    overflow-y: scroll;
}

.titleSARol{
    font-size: 22px;
}

label{
    width: 100px;
}
.repetirPsw{
    width: 150px;
}

.doc-label{
    width: 260px;
}

.spinner, .spinnerC, .spinnerD, .spinnerP{
    margin-bottom: -8px;
    display: none;
}

.comprobante{
    width: 250px;
}
.comprobante ul {
    list-style-type:disc;
    padding-left: 0; 
}
.comprobante li {
text-align: left;
}

.profileImg{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}