<div class="container-md">
  <h1 class="mt-4 mb-4 bg-opacity-8 border rounded text-center">Logueate usando Github</h1>
  <a href="/api/users/github"> <button class="btn btn-primary mb-3">Entrar con Github</button> </a>
  <p><strong>¿No quieres usar Github? Puedes usar nuestros enlaces:</strong></p>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
  <p>¿Ya tienes cuenta con nosotros? <a href="/">Haz Login aquí</a></p>
</div>