<div class="container-md">
  <h1 class="mt-4 mb-4 bg-opacity-8 border rounded text-center">Registro</h1>
  <form id="registerForm" class="mt-4 mb-4 p-3 bg-opacity-8 border rounded">
    <label for="first_name">Nombre</label>
    <input name="first_name" id="first_name" type="text" />
    <br />
    <label class="mt-2" for="last_name">Apellido</label>
    <input name="last_name" id="last_name" type="text" />
    <br />
    <label class="mt-2" for="email">Email</label>
    <input name="email" id="email" type="email" />
    <br />
    <label class="mt-2" for="age">Edad</label>
    <input name="age" id="age" type="number" />
    <br />
    <label class="mt-2" for="password">Contraseña</label>
    <input name="password" id="password" type="password" />
    <input type="submit" />
  </form>
  <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>